@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  color: #777;
  font-size: 16px;
  line-height: 1.6;
  font-family: sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
  margin: 0; }

p, a {
  -webkit-font-smoothing: antialiased;
  color: #f6f6f2;
  font-weight: bold; }

h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #fdfbfb;
  font-size: 18px;
  position: relative;
  top: -30px; }

h4 {
  color: #fdfbfb;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 600; }

.fa {
  color: #f6f6f2; }

.my-big {
  font-size: 7em; }

a {
  color: #faf6f6;
  font-weight: bold;
  text-decoration: none;
  transition: .3s; }

a:hover {
  color: #c1a1f3;
  transition: .3s; }

img {
  width: 100%;
  vertical-align: bottom;
  border-radius: 8px; }

.js-slideInto {
  opacity: 0;
  transform: translateX(200px);
  transition: all 3s; }

.js-slideUp {
  opacity: 0;
  transform: translateY(200px);
  transition: all 2s; }

.js-slideIn {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 5s; }

.js-fadeIn {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s; }

.js-fadeUp {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 3s; }

.js-typing {
  opacity: 0; }

.js-typing span {
  opacity: 0; }

.text {
  position: relative;
  top: 50px;
  overflow: hidden; }
  .text__title1 {
    font-size: 30px;
    color: white; }
    .text__title1__sub1 {
      font-size: 15px;
      line-height: 30px;
      position: relative;
      top: 8px; }
    .text__title1__third {
      text-align: center; }

label {
  color: #fff;
  display: block;
  text-align: left; }

.l-container {
  width: 80%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px; }
  @media screen and (max-width: 414px) {
    .l-container {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .l-container {
      width: 100%; } }
  .l-container__sub {
    padding-top: 40px;
    padding-bottom: 120px; }
  .l-container__title {
    font-family: "Architects Daughter", cursive;
    text-align: center;
    font-size: 38px;
    margin-bottom: 40px;
    color: white;
    letter-spacing: 10px; }
    .l-container__title__second {
      font-family: "Architects Daughter", cursive;
      text-align: center;
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 40px;
      color: #050505;
      letter-spacing: 10px; }
    .l-container__title__third {
      font-family: "Architects Daughter", cursive;
      text-align: center;
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 40px;
      color: #974807;
      letter-spacing: 10px; }
  .l-container__body {
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    position: relative; }
    @media screen and (max-width: 414px) {
      .l-container__body {
        width: 100%; } }
    .l-container__body__main {
      height: 100%;
      width: 50%;
      text-align: center;
      float: left;
      color: #f6f6f2; }
      @media screen and (max-width: 414px) {
        .l-container__body__main {
          width: 100%; } }
    .l-container__body__sidebar {
      height: 100%;
      width: 50%;
      text-align: left;
      float: left;
      position: relative;
      right: -80px;
      line-height: 36px; }
      @media screen and (max-width: 414px) {
        .l-container__body__sidebar {
          width: 100%; } }
  .l-container .sentence {
    width: 80%;
    padding-bottom: 20px;
    position: relative;
    left: 100px;
    text-align: left;
    line-height: 50px; }
    @media screen and (max-width: 414px) {
      .l-container .sentence {
        width: 80%;
        padding-bottom: 20px;
        position: relative;
        left: 20px; } }
    @media screen and (max-width: 768px) {
      .l-container .sentence {
        position: relative;
        left: 50px; } }
  .l-container .sentence {
    font-size: 30px; }
  .l-container__ornament__span {
    display: inline-block;
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1; }
  .l-container__ornament:before, .l-container__ornament:after {
    border-top: 1px solid #2e1f1a;
    content: "";
    display: block;
    position: relative;
    z-index: 0; }
  .l-container__ornament:before {
    top: 21px; }
  .l-container__ornament:after {
    top: -29px; }

.l-footer {
  background: #3f3d2b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; }
  @media screen and (max-width: 414px) {
    .l-footer {
      font-size: 12px; } }

.l-header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  color: #fbfcfa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 20px;
  position: fixed;
  transition: .3s;
  z-index: 2; }
  .l-header.float-active {
    transition: .3s;
    background: rgba(54, 54, 54, 0.9); }
  @media screen and (max-width: 414px) {
    .l-header {
      height: 60px;
      padding-left: 15px;
      padding-right: 15px; } }
  .l-header__title {
    font-size: 42px;
    font-family: "Indie Flower", cursive;
    font-weight: bold; }

@media screen and (max-width: 414px) {
  .l-nav {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s; }
    .l-nav.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; } }

#message {
  width: 100%;
  background-image: url(../images/image.12.jpg);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 130px;
  margin-bottom: 120px; }

#about {
  width: 100%;
  background: black;
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 130px;
  margin-top: -120px; }

#work {
  width: 100%;
  height: 650px;
  background-image: url(../images/image.22.jpg);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 330px; }

.work__pre {
  text-align: center;
  font-size: 50px;
  font-family: "Indie Flower", cursive;
  color: #8a3c08;
  position: relative;
  top: 160px; }

.work__third {
  text-align: center;
  font-size: 50px;
  font-family: "Indie Flower", cursive;
  color: #8a3c08;
  position: relative;
  top: 260px; }

.button1 {
  position: relative;
  z-index: 2;
  border: 0px #333;
  color: #8a3c08;
  line-height: 180px;
  overflow: hidden; }

.button1:hover {
  background-color: #3f4141;
  border-color: #59b1eb;
  color: #59b1eb; }

.button1::after {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%; }

.button1:hover::after {
  top: 0;
  left: 0;
  background-color: #333; }

.button2 {
  position: relative;
  z-index: 2;
  border: 0px #333;
  color: #8a3c08;
  line-height: 180px;
  overflow: hidden; }

.button2:hover {
  background-color: #3f4141;
  border-color: #59b1eb;
  color: #59b1eb; }

.button2::after {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%; }

.button2:hover::after {
  top: 0;
  left: 0;
  background-color: #333; }

.c-btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 50px;
  box-sizing: border-box;
  transition: .3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .c-btn:hover {
    transform: translateY(-3px);
    transition: .3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
  .c-btn__corp {
    color: #fff;
    background: #a79e6c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9d9e98, #a79e6c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9d9e98, #a79e6c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .c-btn__l {
    padding: 15px 10px;
    width: 100%;
    font-size: 18px; }

.button1 {
  position: relative;
  z-index: 2;
  border: 0px #333;
  color: #8a3c08;
  line-height: 180px;
  overflow: hidden; }

.button1:hover {
  background-color: #3f4141;
  border-color: #59b1eb;
  color: #59b1eb; }

.button1::after {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%; }

.button1:hover::after {
  top: 0;
  left: 0;
  background-color: #333; }

.button2 {
  position: relative;
  z-index: 2;
  border: 0px #333;
  color: #8a3c08;
  line-height: 180px;
  overflow: hidden; }

.button2:hover {
  background-color: #3f4141;
  border-color: #59b1eb;
  color: #59b1eb; }

.button2::after {
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%; }

.button2:hover::after {
  top: 0;
  left: 0;
  background-color: #333; }

.c-form {
  width: 100%; }
  .c-form__m {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 414px) {
      .c-form__m {
        width: 100%; } }

.c-input {
  display: block;
  margin-bottom: 10px;
  background: #cdcdcf;
  border: 3px solid #f6f5f4;
  border-radius: 4px;
  outline: none;
  height: 60px;
  font-size: 18px;
  color: #777;
  box-sizing: border-box; }
  .c-input__l {
    padding: 5px 10px;
    width: 100%; }
  .c-input:focus {
    border: 3px solid #c1a1f3; }
  .c-input__textarea {
    height: 200px; }

::placeholder {
  color: #ccc; }

.c-menu {
  display: flex;
  font-size: 24px;
  font-family: "Indie Flower", cursive;
  position: relative;
  right: 70px; }
  @media screen and (max-width: 768px) {
    .c-menu {
      position: relative;
      left: 30px;
      font-size: 20px; } }
  .c-menu__item {
    margin-right: 30px; }
  .c-menu__link {
    -webkit-font-smoothing: initial; }
  @media screen and (max-width: 414px) {
    .c-menu {
      display: block;
      position: relative;
      top: 30px;
      left: 0px;
      font-size: 30px; }
      .c-menu__item {
        margin-right: initial; }
      .c-menu__link {
        -webkit-font-smoothing: initial;
        display: block;
        padding: 15px;
        text-align: center; } }

.c-panel {
  box-sizing: border-box;
  background: #fff;
  position: relative;
  transition: .5s; }
  .c-panel__hover {
    display: inline-block;
    transition: .5s; }
    .c-panel__hover:hover {
      transform: scale(1.03);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: .5s; }
  @media screen and (max-width: 414px) {
    .c-panel__body-last {
      position: relative;
      top: -154px; } }
  @media screen and (max-width: 375px) {
    .c-panel__body-last {
      position: relative;
      top: -140px; } }
  .c-panel__border {
    border-radius: 5px;
    border: 5px solid #f6f5f4; }
  .c-panel__head, .c-panel__foot {
    padding: 10px; }
  .c-panel__head {
    text-align: center;
    color: #c1a1f3; }
  .c-panel__active {
    border: 5px solid #c1a1f3; }
  .c-panel__badge {
    background: #e37b89;
    color: #fff;
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1.3em;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 12px;
    transform: rotate(15deg); }
    @media screen and (max-width: 414px) {
      .c-panel__badge {
        top: -20px;
        right: -13px; } }
  .c-panel__group {
    margin-right: -15px; }
    .c-panel__group__float {
      overflow: hidden; }
    .c-panel__group__flex {
      display: flex;
      flex-wrap: wrap; }
    .c-panel__group .c-panel {
      float: left;
      margin-bottom: 15px;
      box-sizing: border-box;
      margin-top: 30px; }
  .c-panel__staff {
    width: calc(25% - 15px);
    margin-right: 15px; }
    @media screen and (max-width: 414px) {
      .c-panel__staff {
        width: calc(50% - 15px); } }
  .c-panel__cource {
    width: calc(33.3% - 15px);
    margin-right: 15px; }
    @media screen and (max-width: 414px) {
      .c-panel__cource {
        width: 100%;
        margin: 0 auto 15px auto; } }

@media screen and (max-width: 414px) {
  .map {
    width: 100%; } }

.c-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 90px; }

.c-article__head {
  text-align: center; }

.c-article__foot {
  text-align: center;
  margin-top: 20px; }
  .c-article__foot__sub {
    text-align: left;
    position: relative;
    top: 20px;
    left: 20px; }

.c-circle1 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #F26964;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.c-circle2 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #1253a4;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.c-circle3 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #FFD464;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.slider {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000; }

.slider .image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: anime 15s 0s infinite;
  /* ②で設定したanimation-delayをスライド数で割った時間をdelay(15s)に入れる */
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

/*
  ②画像の数ごとに animation-delay を設定します。
　下記では、5秒間隔で切り替わるように設定しています。
*/
.slider .image:nth-of-type(1) {
  background-image: url(../images/image.7.jpg); }

.slider .image:nth-of-type(2) {
  animation-delay: 5s;
  background-image: url(../images/image.6.jpg); }

.slider .image:nth-of-type(3) {
  animation-delay: 10s;
  background-image: url(https://picsum.photos/id/239/960/540); }

@keyframes anime {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1.18); } }

.p-menuTrigger {
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  left: -10px;
  width: 40px;
  height: 32px;
  z-index: 3; }
  @media screen and (max-width: 414px) {
    .p-menuTrigger {
      display: inline-block; } }
  .p-menuTrigger__barger {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #777;
    border-radius: 4px; }
    .p-menuTrigger__barger:nth-of-type(1) {
      top: 0; }
    .p-menuTrigger__barger:nth-of-type(2) {
      top: 14px; }
    .p-menuTrigger__barger:nth-of-type(3) {
      bottom: 0; }
  .p-menuTrigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .p-menuTrigger.active span:nth-of-type(2) {
    opacity: 0; }
  .p-menuTrigger.active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }

.p-news {
  width: 70%;
  height: 180px;
  overflow-y: scroll;
  margin: 0 auto;
  border-radius: 5px;
  background: #f8f7fc;
  padding: 15px 20px; }
  @media screen and (max-width: 414px) {
    .p-news {
      width: 80%; } }
  .p-news__item {
    margin-bottom: 5px;
    text-align: left; }
  .p-news__date {
    color: #bc8cf3;
    font-weight: bold;
    font-family: cursive;
    -webkit-font-smoothing: initial;
    margin-right: 10px; }
  .p-news__title {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #777; }

.p-contact {
  width: 100%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px; }
  @media screen and (max-width: 414px) {
    .p-contact {
      width: 100%; } }

#contact {
  width: 100%;
  background-image: url(../images/image.23.jpg);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 130px;
  margin-top: 0;
  margin-bottom: 0; }

.hero {
  position: relative;
  overflow: hidden;
  height: 100vh; }

.p-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .p-hero__describe {
    font-size: 32px;
    font-family: "Amatic SC", cursive;
    color: #fff;
    position: absolute;
    top: 490px;
    right: 30px;
    z-index: 2;
    text-shadow: 0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8); }
    .p-hero__describe__second {
      font-size: 38px;
      font-family: "Architects Daughter", cursive;
      color: #fff;
      position: absolute;
      top: 660px;
      right: 50px;
      z-index: 2;
      text-shadow: 0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8); }
    @media screen and (max-width: 414px) {
      .p-hero__describe {
        text-align: center; } }

#skill {
  width: 100%;
  background-image: url(../images/image.24.jpg);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 130px; }

.p-skill {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: #f6f6f2;
  font-weight: bold; }

.u-bgColor__project {
  background: #f8f7fc; }

.u-box-shadow {
  box-shadow: 0px 0px 8px 2px #ddd inset; }

.u-ft-corp {
  font-family: "Amatic SC", cursive; }

.u-ft-l {
  font-size: 24px; }

.mb-xxl {
  margin-bottom: 30px; }

.u-mr-0 {
  margin-right: 0; }

.u-width {
  width: 100%; }
