// ==================================
// btn
// ==================================
.c-btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  transition: .3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: translateY(-3px);
    transition: .3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  &__corp {
    // グラーデーション参考 https://uigradients.com/
    color: #fff;
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &__l {
    padding: $space_l $space_xxl;
    width: 100%;
    font-size: $font-size_l;
  }
}
.btn {
  position: relative;
  color: #49394b;
  width: 80px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  text-align: center;
  margin-right: 10px;
  
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-one::before {
    left: 4px;
    z-index: 1;

  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  transition: all 0.3s;
  border: 3px solid rgba(255, 255, 255, 0.5);
  width: 70px;
}

.btn-one:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}
