.c-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 90px;
    
}
.c-article__head{
    text-align: center;
}.c-article__foot{
    text-align: center;
    margin-top: 20px;
    &__sub{
        text-align: left;
        position: relative;
        top: 20px;
        left: 20px;
    }
}

.c-circle1{
    display:inline-block;
    width: 200px;
    height: 200px;
    background-color: #F26964;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
}
.c-circle2{
    display:inline-block;
    width: 200px;
    height: 200px;
    background-color: #1253a4;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
}
.c-circle3{
    display:inline-block;
    width: 200px;
    height: 200px;
    background-color: #FFD464;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
}

