//==================
//menu
//==================
.c-menu{
  display: flex;
  font-size: $font-size_xl;
  font-family:$font-family;
  position: relative;
  right: 70px;
  @include mr(){
    position: relative;
    left: 30px;
    font-size: 20px;
   }
  &__item{
    margin-right: $space_xxl;
  }
  &__link{
    -webkit-font-smoothing:initial;
  }
  @include mq(){
    display: block;
    position: relative;
    top: 30px;
    left: 0px;
    font-size: $font-size_xxl;
    &__item{
      margin-right: initial;
    }
    &__link{
      -webkit-font-smoothing:initial;
      display: block;
      padding: $space_l;
      text-align: center;
    }
  }
}
