// ==================================
// _contact.scss
// ==================================
// もともとはl-containerがあたっていたが、padding-topが不要なため削除した別名ファイルを作成
.p-contact {
  width: $site-width;
  @include mq() {
    width: 100%;
  }
  margin-left: auto;
  margin-right: auto;
  padding-top: 0; //l-containerでは80px
  padding-bottom: 120px;
}
