// ==================================
// _contact.scss
// ==================================
// もともとはl-containerがあたっていたが、padding-topが不要なため削除した別名ファイルを作成
.p-contact {
  width: $site-width;
  @include mq() {
    width: 100%;
  }
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px; //l-containerでは80px
  padding-bottom: 120px;
}
#contact{
  width: 100%;
    background-image:url(../images/image.23.jpg);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 130px;
    margin-top:0;
    margin-bottom: 0;
}

