// ==================================
// hero
// ==================================
.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
.p-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
      font-size: 32px;
      font-family: $font-family_corp;
      color: #fff;
      position: relative;
      top:490px;
      left:-30px;
      z-index:2;
      text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
      &__second{
        font-size: 38px;
        font-family: $font-family_sub;
        color: #fff;
        position: relative;
        top:660px;
        left:-590px;
        z-index:2;
        text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
      }
      @include mq() {
        text-align: center;
      }
    }
    &__br {
      display: none;
      @include mq() {
        display: block;
      }
    }
  }
