// ==================================
// hero
// ==================================
.p-hero {
  //background-image: url('../images/hero.jpg');
	background-image: url(../images/cafe_top.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 60px;
    font-family: $font-family_corp;
    color: #fff;
    text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
    @include mq() {
      text-align: center;
    }
  }
  &__br {
    display: none;
    @include mq() {
      display: block;
    }
  }
}
