.p-menuTrigger {
  display: none;
  @include mq($breakpoint: sm) {
    display: inline-block;
  }
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  left:-10px;
  width: 40px;
  height: 32px;
  z-index: 3;
  &__barger {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $font-color_default;
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &.active span {
    &:nth-of-type(1) {
      transform: translateY(12px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: translateY(-15px) rotate(45deg);
    }
  }
}
