//===========
//skill
//===========
#skill{
    width: 100%;
    background-image:url(../images/image.24.jpg);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 130px;
}
.p-skill{
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #f6f6f2;
    font-weight: bold;
}