//===========
//about
//===========
#about {
  width: 100%;
  background: black;
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 130px;
  margin-top: -120px;
}
