// ==================================
// container-->_container.scss
// ==================================
.l-container {
  width: 100%;
  @include mq() {
    width: 100%;
  }
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 120px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  &__title {
    font-family: $font-family_corp;
    text-align: center;
    font-size: $font-size_3l;
    margin-bottom: $space_3l;
    padding-top: 80px;
    @include mq() {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__body {
		overflow: hidden;
		&-menu {
				padding-top: 30px;
			}
    @include mq() {
      padding-left: $space_l;
      padding-right: $space_l;
    }
  }
	//もともとは&-ornamentのcontainer-title
	//l-title__ornament
    &__ornament {
			//ornament__span
      &__span {
				// TODO: リファクタ必要（span以外を使うことも考えてclass名で指定すること）-->クラス名に変更
        display: inline-block;
        background: #fff;
        padding: 0 10px;
        position: relative;
        z-index: 1;
      }
      &:before, &:after {
        border-top: 1px solid #2e1f1a;
        content: "";
        display: block;
        position: relative;
        z-index: 0;
      }
      &:before {
        top: 28px;
      }
      &:after {
        top: -28px;
      }
    }
}
