//==============
//l-container
//==============
.l-container{
  width:80%;
  @include mq(){
    width:100%;
  }
  @include mr(){
    width:100%;
  }
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top:80px;
  padding-bottom: 120px;
  padding-left: $space_xl;
  padding-right: $space_xl;
  margin-bottom: 80px;
  &__title{
    font-family: $font-family_corp;
    text-align: center;
    font-size: $font-size_3l;
    margin-bottom: $space_3l;
    color: white;
    letter-spacing: 10px;
    &__second{
      font-family: $font-family_sub;
      text-align: center;
      font-size: $font-size_3l;
      font-weight: bold;
      margin-bottom: $space_3l;
      color: rgb(5, 5, 5);
      letter-spacing: 10px;
    }
    &__third{
      font-family: $font-family_sub;
      text-align: center;
      font-size: $font-size_3l;
      font-weight: bold;
      margin-bottom: $space_3l;
      color: rgb(151, 72, 7);
      letter-spacing: 10px;
    }
    &__contact{
      font-family: $font-family_sub;
    text-align: center;
    font-size: $font-size_3l;
    margin-bottom: $space_3l;
    color: white;
    letter-spacing: 10px;
    }
    @include mq(){
      width:100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__body{
    overflow: hidden;
    @include mq(){
      padding-left: 15px;
      padding-right: 15px;
     }
  }
  &__bodysecond{
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  @include mq(){
    width: 100%;
   }
   &__main{
    height: 100%;
    width: 50%;
    text-align: center;
    float: left;
    color:$font-color_top;
    @include mq(){
      width: 100%;
    }
   }
   &__sidebar{
    height: 100%;
    width: 50%;
    text-align: center;
    float: left;
    @include mq(){
      width: 100%;
    }
   }
  }
  .sentence{
    width: 80%;
    padding-bottom: 20px;
    position: relative;
    left: 100px;
    text-align: left;
    line-height: 50px;
    @include mq(){
      width: 80%;
      padding-bottom: 20px;
      position: relative;
      left: 20px;
    }
    @include mr(){
      position: relative;
    left: 50px;
    }
  }
  .sentence{
    font-size: 30px;
  }
  &__ornament{

    &__span{
      display: inline-block;
      background: #fff;
      padding: 0 10px;
      position: relative;
      z-index: 1;
    }
    &:before, &:after{
      border-top: 1px solid #2e1f1a;
      content: "";
      display: block;
      position: relative;
      z-index: 0;
    }
    &:before{
      top:21px;
    }
    &:after{
      top:-29px;
    }

  }
}
//.guide{
//  @include mq(){
//    padding-bottom: 30px;
//    position: relative;
//    left:50%;
//  }
//}
