//====================
//header
//====================
.l-header{
  width:100%;
  height:80px;
  box-sizing: border-box;
  background:rgb(223, 216, 149);
  color: rgb(23, 24, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $space_xl;
  padding-right: $space_xl;
  position: fixed;
  transition: .3s;
  z-index: 2;
  &.float-active{
    transition: .3s;
    background: rgba(236, 188, 227, 0.9);
  }
  @include mq(){
    height:60px;
    padding-left: $space_l;
    padding-right: $space_l;
  }
  &__title{
    font-size: $font-size_3l;
    font-family: $font-family_corp;
    font-weight: bold;
  }
}
