//===============
//nav
//===============
.l-nav{
  @include mq(){
    display: block;
    position: absolute;
    top:0;
    right:-100%;
    background: rgba(255, 255, 255, .85);
    width:100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s;
   &.active{
     transition: .5s;
     transform: translateX(-100%);
     z-index: 2;
   }
  }
}
