//===========
//skill
//===========
#skill{
    width: 100%;
    background-image:url(../images/image.21.jpg);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 130px;
}