#work{
    width: 100%;
    height: 650px;
      background-image:url(../images/image.22.jpg);
      background-size: contain;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding-bottom: 330px;
      
  }
  .work{
    &__pre{
      text-align: center;
      font-size: 50px;
      font-family: $font-family;
      color: rgb(138, 60, 8);
      position: relative;
      top: 160px;
    }
    &__third{
      text-align: center;
      font-size: 50px;
      font-family: $font-family;
      color: rgb(138, 60, 8);
      position: relative;
      top: 260px;
    }
  }
  